/MatrixOperation/nbproject/private/
/MidtermPractice/nbproject/private/
/MidtermPractice/build/
/MidtermPractice/dist/
/Midterms_Practice/nbproject/private/
/Midterms_Practice/dist/
/Midterms_Practice/build/
/Employee/nbproject/private/
/Employee/dist/
/Employee/build/
/MidPractice/nbproject/private/
/Dummy Project/nbproject/private/
